<div class="row">
	<a href="/video/demo.flv"
	   style="display:block;width:425px;height:300px;"
	   id="player">
	</a>
</div>
<% block('stylesheets','<link rel="stylesheet" href="/css/index.css">') -%>
<% block('scripts','<script src="/js/common.js"></script>') -%>

